apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- deployment.yaml
- service.yaml
- cache-purge-job.yaml

images:
- name: image_name
  newName: ghcr.io/scubbo/blog-content
  newTag: 6db40a38860d685381080d831139de5fabd02df5
