apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- deployment.yaml
- service.yaml
- cache-purge-job.yaml

images:
- name: image_name
  newName: ghcr.io/scubbo/blog-content
  newTag: 87a2c55b5707f0e85ecda60f657058bddb0ea83d
